.content {
  display: block; /* grid maneja las columnas */
  margin: 1rem;
}

.content-consulta{
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  min-height: 200px; /* placeholder */
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
}