.no-eventos {
	display: flex;
	justify-content: center;
	align-items: center;
  font-weight: bold;
  font-size: 2rem;
  color: var( --color-secondary);
  padding: 1rem 1.5rem;
  text-align: center;
  margin: 1rem auto;
  max-width: 400px;
}

@media (max-width: 767.98px) {
  .contenido-principal-card {
    flex-direction: column;   
    text-align: center;       
    align-items: center;      
  }

  .contenido-principal-card-imagen {
    width: 100%;
    margin-bottom: 1rem;     
    flex-direction: column;   
    text-align: center;       
    align-items: center;
  }

  .contenido-principal-card-imagen img {
    margin-bottom: 1rem;     
    max-width: 160px;           
    max-height: 160px;
  }

  .contenido-principal-card-informacion {
    text-align: center;      
  }
}