@media (max-width: 767.98px) {
  .contenido-principal-card {
    flex-direction: column;   
    text-align: center;       
    align-items: center;      
  }

  .contenido-principal-card-imagen {
    width: 100%;
    margin-bottom: 1rem;     
    flex-direction: column;   
    text-align: center;       
    align-items: center;
  }

  .contenido-principal-card-imagen img {
    margin-bottom: 1rem;     
    max-width: 160px;           
    max-height: 160px;
  }

  .contenido-principal-card-informacion {
    text-align: center;      
  }
}