/* =========================
   MAIN CONTENT
========================= */
.contenido{
  width: auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

@media (min-width:768px) {
  .contenido{
    width: auto;
    padding: 1rem;
    justify-content: center;
    align-items: start;
  }
  
}

.section-evento{
  
}

.content-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Contenedor general de eventos */
.content-evento {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .content-evento{
    margin-bottom: 0;
  }
}

.content-evento-resumen{
  justify-content: center;
  align-items: center;
}

.content-evento-imagen{
  width: 100%;
  height: 200px;          /* fijo, no max-height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-evento-imagen img {
  width: 100%;
  height: 100%;
  object-fit: contain;    /* ajusta dentro del marco sin recortar */
  border-radius: .5rem;
}

@media (max-width:768px){
	.content-evento-imagen{
		margin-bottom: 0.5rem;
	}
}

.content-evento-titulo {
  font-size: 2rem;
  font-weight: bold;
  color: #212529;
  margin-bottom: 0.5rem;
	text-align: center;
  justify-items: center;
}

content-evento-informacion{
  padding: 1rem;
}

.content-ediciones{
  display: flex;
  align-items: start;
  flex-direction: column;
}


@media (min-width:768px) {
  .content-ediciones{
    margin-top: 1rem;
  }
}

.seccion-titulo-edicion{
  padding-left: 0.5rem;
  text-decoration: underline;
  display: flex;
  align-items: start;
  margin-bottom: 0.5rem;
}

.ediciones{
  width: 100%;
}


.content-edicion{
  padding: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 0.5rem;
}

@media (min-width:768px) {
  .content-edicion{
    min-height: 5.5rem;
  }
}

.content-edicion:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.content-edicion-titulo{
  display: inline;
  font-weight: 550;
  margin-left: 1rem;
}

.content-edicion-imagen img{
  width: 100%;
  height: auto;            /* mantiene proporción */
  max-width: 100px;        /* límite en cel */
  max-height: 100px;        /* por si es MUY alta */
}

/* tablet/desktop: permití que crezca un poco más */
@media (min-width: 768px){
  .content-edicion-imagen img{
    max-width: 200px;
  }
}

.contenido-main{
	padding: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.informacion-label {
  font-weight: bold;
}

@media (max-width: 769px){
	.informacion-label {
		margin-bottom: 0;
	}
}

@media (min-width:768px) {
  .btn{
    width: 200px;
  }
}