@charset "UTF-8";

.contenedor{
	padding: 1.5rem; 
 	background: #fff; 
 	border: 1px solid var(--color-border); 
 	border-radius: var(--radius); 
 	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
 	margin-bottom: 1rem;
}